<a href="https://colab.research.google.com/github/kittiyaporn31/project_secret007/blob/main/ex01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#อบรม python วันที่ 27 พฤศจิกายน 2567
#654245001 นางสาวกฤติยาภรณ์ กลิ่นดอกแก้ว

In [3]:
#ทดสอบการรับค่า input
name  = input("please enter your name")
print("welcome  "+name)

please enter your namekittiyaporn
welcome  kittiyaporn

In [6]:
num1 = int(input("number 1 : "))
num2 = int(input("number 2 : "))
total  = num1 + num2
print("sum : "+str(total))

number 1 : 5
number 2 : 5
sum : 10

In [ ]:
i=1
while i<7 :
  print("hello")
  i=i+1

In [17]:
weigth =float(input("enter your weigth : "))
height =float(input("enter your height (m): "))
height = height/100
total = weigth/(height*height)
print("BMI is : "+str(total))

enter your weigth : 53
enter your height (m): 150
BMI is : 23.555555555555557

In [25]:
import requests # URL ของ API สำหรับดึงข้อมูลราคาบิตคอยน์
url = 'https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd'
# ส่งคำขอไปยัง API
response = requests.get(url)
# ตรวจสอบว่าคำขอสำเร็จหรือไม่
if response.status_code == 200:
  data = response.json()
# แปลงข้อมูลที่ได้รับเป็น JSON # ดึงราคาบิตคอยน์ในหน่วย USD
  bitcoin_price = data['bitcoin']['usd']
  print(f"ราคาบิตคอยน์ตอนนี้คือ ${bitcoin_price} USD")
else:
  print("ไม่สามารถดึงข้อมูลได้ กรุณาลองใหม่อีกครั้ง")

ราคาบิตคอยน์ตอนนี้คือ $93389 USD

In [23]:
num1=float(input("กรุณากรอกแม่สูตรคูณที่ต้องการแสดงผล : "))
i=1
print("คุณต้องการแสดงแม่สูตรคูณแม่ "+str(num1))
print("=========================================")
for n in range(2, 12):
  print("แม่" +str(i))
    for i in range(1, 12):
      print(f"{n} * {i} = {n * i}")
    print("-" * 20)

กรุณากรอกแม่สูตรคูณที่ต้องการแสดงผล : 2
คุณต้องการแสดงแม่สูตรคูณแม่ 2.0
=========================================
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
--------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
--------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
--------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
--------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
--------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
--------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
--------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
--------------------
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
--------------------
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
--------------------

In [ ]:
w=float(input("enter space (m) : "))
l=float(input("enter space (m) : "))
h=float(input("enter space (m) : "))

In [19]:
num = 6
if num==10 :
  print("true")
else:
  print("false")

false